<html lang="zh">
<style>
    .title {
        font-size: 56px;
        font-weight: bold;
        color: black;
        text-align: center;
    }

    .content {
        font-size: x-large;
    }

    .token {
        background-color: lightgray;
        border-radius: 12px;
        padding: 8px;
    }

    .token p {
        text-align: center;
        font-size: xx-large;
        font-family: monospace;
    }

    .footer {
        font-size: medium;
    }
</style>

<h1 class="title">Maa Copilot</h1>

<div class="content">
    <p>这是一封来自 Maa Copilot Server 的测试邮件</p>
    <p>This is a test email from Maa Copilot Server.</p>
</div>

<div class="token">
    <p>{{ Time }}</p>
</div>

<div class="footer">
    <p>此邮件为系统自动发送，请勿回复。</p>
    <p>DO NOT REPLY.</p>
</div>
</html>
